<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>
<body>
<h1>注册</h1>
<form name="form" accept-charset="utf-8"  action="/doregister">
    <div class="inputOuter2">
        姓名:<input type="text" id="username" name="username" placeholder="请输入你的真实姓名..."maxlength="16" />
    </div>

    <div >
        学号:<input type="password" id="password"  name="password" placeholder="请输入..." maxlength="16"/>
    </div>

    <div>
        <input type="submit" value="确定"/>

    </div>

</form>
</body>
</html>